@font-face {
  font-family: bebas;
  src: url("./BebasNeue-Regular.ttf");
}
@font-face {
  font-family: comic-neue;
  src: url("./ComicNeue-Regular.ttf");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.back-to-home {
  position: relative;
  top: -90px;
  left: -90px;
  color: white;
  position: relative;
  height: max-content;
  width: max-content;
  /* background-color: red; */
}


.agent-name {
  position: relative;
  top: -45px;
  left: -10px;
  font-size: 3rem;
  font-weight: 600;
  font-family: bebas;
  color: white;
}
.agents-title {
  position: relative;
  top: 20px;
  height: max-content;
  width: max-content;
  font-size: 7rem;
  font-weight: 600;
  font-family: bebas;
  color: white;
  /* background-color: red; */
  margin-inline: auto;
}

.agents-components {
  position: relative;
  top: -50px;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* background-color: rgb(255, 255, 255); */
  height: max-content;
  width: max-content;
}

.agent-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.7em;
  height: 400px;
  width: 400px;
  background-color: black;
}

.agent-middle img {
  border: 1px solid white;
}
.agent-middle img:hover {
  cursor: pointer;
}

.agent-left {
  height: 500px;
  width: 400px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.agent-left p {
  position: relative;
  top: -52px;
  text-align: justify;
  padding-inline: 15px;
  font-size: 1.2rem;
}

.agent-right {
  height: 500px;
  width: 400px;
  background-color: transparent;
}

.left-rightComponent {
  position: relative;
  top: -420px;
  display: flex;
  gap: 30rem;
}

.agent-fullPortrait {
  position: relative;
  top: -80px;
}

.agent-desc {
  color: white;
  font-family: comic-neue;
}

.agent-role-title {
  position: relative;
  top: -30px;
  left: 10px;
  /* background-color: rebeccapurple; */
  color: white;
  font-family: bebas;
  letter-spacing: 0.06em;
  font-size: 1.5rem;
}

.agent-role-desc {
  height: max-content;
  padding-inline: 15px;
  /* background-color: red; */
  color: white;
  font-family: comic-neue;
}

.agent-role-image {
  padding-block: 10px;
  padding-inline: 15px;
}

.agent-ability-title {
  font-family: bebas;
  padding-inline: 15px;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.06em;
}

.agent-abilities {
  height: max-content;
  width: max-content;
  /* background-color: rgb(47, 0, 255); */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-block: 15px;
  padding-inline: 15px;
}

.together {
  display: flex;
}
.ability-title {
  font-family: bebas;
  color: white;
  font-size: 1.8rem;
  position: relative;
  top: 10px;
  padding-inline: 15px;
}
